<%- include('partials/header') %>


<div class="jumbotron centered overskrift">
  <div class="container">
    
    <h1 class="display-3 ">Passport.JS</h1>
    <p class="lead">Logg inn eller Registrer deg for å lese mer om dette rammeværket</p>
    <hr class="Mainlinje">
    <a class="btn btn-light btn-lg" href="/register" role="button">Registrering</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Pålogging</a>

  </div>
</div>

<%- include('partials/footer') %>
